@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.bg {
  &-primary {
    background-color: variables.$bg-primary;
  }

  &-secondary {
    background-color: variables.$bg-secondary;
  }

  &-normal {
    background-image: variables.$bg-normal;
  }

  &-fire {
    background-image: variables.$bg-fire;
  }

  &-water {
    background-image: variables.$bg-water;
  }

  &-electric {
    background-image: variables.$bg-electric;
  }

  &-grass {
    background-image: variables.$bg-grass;
  }

  &-ice {
    background-image: variables.$bg-ice;
  }

  &-fighting {
    background-image: variables.$bg-fighting;
  }

  &-poison {
    background-image: variables.$bg-poison;
  }

  &-ground {
    background-image: variables.$bg-ground;
  }

  &-flying {
    background-image: variables.$bg-flying;
  }

  &-psychic {
    background-image: variables.$bg-psychic;
  }

  &-bug {
    background-image: variables.$bg-bug;
  }

  &-rock {
    background-image: variables.$bg-rock;
  }

  &-ghost {
    background-image: variables.$bg-ghost;
  }

  &-dragon {
    background-image: variables.$bg-dragon;
  }

  &-dark {
    background-image: variables.$bg-dark;
  }

  &-steel {
    background-image: variables.$bg-steel;
  }

  &-fairy {
    background-image: variables.$bg-fairy;
  }
}

@keyframes load {
  from {
    opacity: 0;
    gap: 0;
  }
  to {
    opacity: 1;
    gap: 2rem;
  }
}
